.gray-color{
    color: rgb(140, 140, 142);;

}
.theader{
    color: #352D94;
}
  
.textlink:hover {
    color: #ffc107;
  }
  .textlink {
    background: none;
    border: none;
    padding: 0;
    color: #005FB7;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis;
  }
  .tablehead {
    background-color: #283593;
    color: #ffffff;
  }
  .bgcolorBlue {
    background-color: #352d94;
}
.text-white {
  color: #fff !important;
}
#total{
  background-color:#ddd;
  font-weight: bold;
}
