.head {
    display: flex;
    align-items: center;
    margin-left: 21px;
  }

  .head h4,
  .head h5 {
    margin: 0;
  }

  .gray-color {
    color: gray;
    margin-left: 20px;
  }
  .sharp-font {
    font-family: 'YourSharpFont', sans-serif;
    font-weight: 100;
  }