.marquee-p{
    color: red;
    font-weight: bold;
    font-size: 14px;
    margin-top: 8px;
}

.home-main{
    background-color: #dee2e6;
     height: 100vh; 
    margin-bottom: 0px;
}

.acc-main{
    background-color: #352d94;
    color: white;
}

#PieChart-card{
   display: flex;
    margin-top: 10px ;
}

#piechart-row{
    margin: 0px;
}

.accordion-button:not(.collapsed)::after
{
    background-image: none;
}

.accordion-button::after{
    background-image: none;
}

.accordion-button:not(.collapsed){
    background-color: #352d94;
    border: none;
}

.mis-heading{
  color: #EE8B3A;
  font-size:"12px";
  font-weight:bold;
  border: transparent;
  outline: 0;
}

.dashboard-full {
    width: 100%; 
    transition: margin-left 0.5s ease-in-out;
}

.dashboard-closed {
    width: calc(100% - 17%); /* Adjust the width based on your sidebar's width */
    transition: width 0.3s ease-in-out;   
}

.accordion-button.acc-main:focus {
  box-shadow: none;
}
