.mid{
  text-align: center;  
}

.BgcolorOrange{
    color: white;
   line-height: 1.5;
   background-color: #EE8B3A;
}

.sub{
  text-align: center;
}

.headline1{
  background-color: #352D94;
  color: white;
  text-align: center;
}

.headtbl{
  line-height: 2;
}

.Aum-Head{
  background-color: #352D94;
  color: white;
  padding-bottom: 10px;
  line-height: 1;
}
.totalhead{
  background-color: #352D94;
  color: white;
}


@media screen and (min-width: 1440px) {
  #tablebox2 {
   position: relative;
   top: 0;
   bottom: 0;
   left: 0px;
   right: 0px;

   width: -200px;
  }
}