.headline{
    color: rgb(5, 5, 5);
    text-align: left;
    padding-left: 25px;
}
.mid{
    text-align: center;
}
.Bgcolor{
    color: white;
    background-color:#352d94;
    line-height: 1;
}
.export{
    text-align: center;
    color: black;
    background-color: rgb(250, 198, 100);
}