#tablebox{
  border: 2px;
}
.headline {
  color: rgb(5, 5, 5);
  text-align: left;
  /* padding-left: 20px; */
}

.mid {
  text-align: center;
}

.Bgcolor {
  color: white;
  background-color: #352d94;
  line-height: 1;
}

.buton{
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: -100px;
}

.tablebody{
  padding-left: 100px;
}