.export{
    background-color: #EE8B3A;
}

.headtable{
    line-height: 4;
 
}
.headline{
    font-size: 1.25rem;
    font-weight: bold;
  }

.forright{
    text-align: right
}

.total{
    background-color: #EE8B3A;
    color: white;
    line-height: 0.5;
}
