.export{
    background-color: #EE8B3A;
}

.headtable{
    line-height: 2;
    line-height: 0.6px;
}
.forright{
    text-align: right
}

.total{
    background-color: #EE8B3A;
    color: white;
    line-height: 0.5;
}
.Bg{
    background-color: #352D94;
    color: white;
}