
.border{
    padding: 20px;
}

.BgcolorOrange{
    line-height: 1;
    background-color: #EE8B3A;
}

.bord{
    border-radius:10px
}
.marrpad{
    margin-right: 5px;
    padding: 11px;
}
.butons{
    margin-left:10px;
    margin-top:19px;
    padding: 10px;
}
.lab{
    padding-left: 10px;
}
.borrad {
    border-radius: 10px;
}
.padl{
    padding-left: 20px;
}