.headline{
  font-size: 1.25rem;
  font-weight: bold;
}
.form-lables{
  font-size: 15px;
  font-weight: bold;
  margin-right: 4px;
}
.radius{
  border-radius: 10px;
}
.Bgcolor{
   background-color: #EE8B3A;
}
