.headline{
  font-size: 1.25rem;
  font-weight: bold;
}

.form-lables{
  font-size: 15px;
  font-weight: bold;
}

.mrgr{
  margin-right: 5px;
}

.mrgt{
  margin-top: 30px;
}

.mrgtt{
  margin-top: 31px;
}

.exporttab{
  border-radius: 8px;
  border: 2px solid rgba(53, 45, 148, 0.30);
  padding: 7px;
  width: 160px;
  height: 41px
}
