.side-home{
  font-weight: bold;
  border-radius: 5px;
}
.side-link{
    margin: 4px 4px 4px 4px;
    border-radius: 5px;
    font-size: large;
    color:#636466;
    
}
.btn-btn-home{
    background-color: #352d94;
    color: white;
    font-weight: bold;
    padding-left: 5px;
}
#main-side-card-active, .card_active{
    background-color: #352d94;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 4px;
}
#main-side-card{
    background-color:white;
    border-radius: 5px;
    margin-top: 6px;
}
.side-img{
    padding-right: "8px";
    padding-left:"8px";
}

.sidebar {

    width: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidebar.open 
{
 width: 250px;
 }
 .sales-retails{
    border-radius: 10px;
    background-color: #EE8B3A;
    color: white;
    padding: 2px 2px 2px 2px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
 }
 .sub-accor{
    background-color: white;
    color: #636466;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
    padding-right: 20px;
    border-radius: 5px;
    border-color:white ;

   
 }
 .sub-accor-active{
    background-color: #352d94;
    color: #ffffffb5;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
    padding-right: 20px;
    border-radius: 5px;
    border-color: #352d94;
 }