.schedulehead{
    font-weight: bolder;
    background-color:#352d94;
    color: white;
    text-align: center;
    font-size: 27px;
}

.schedulebtn {
    background-color: #e78a3c;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .20rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-shadow: 0 0px 9px rgba(0,0,0,0.30), 0px 9px 5px rgba(0,0,0,0.22);
}

.active {
    background-color: white;
    border-top: 3px #000;
    color: #000;
}

.rowfirst{
    margin-left: 2px;
}

.modalcard{
    border: none;
    border-top: 1px  #A2A2A2;
    box-shadow: 0 32px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: transparent;
}

.mail-inputbox {
   border: none;
   border-bottom: 0.5px solid #A2A2A2;
}

.closebuttons{
    font-size: 17px;
}

